@import url("http://fonts.googleapis.com/css?family=Oxygen|Gentium");

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body, input, select, button, textarea {
    font-family: Oxygen, sans-serif;
}

html, body, div {
    box-sizing: border-box;
}

header {
    font-family: Gentium;
    width: 100%;
    background: #333;
    color: #CCC;
    -webkit-box-shadow: 0 -1px #cccccc;
    position: fixed;
    top: 0;
    height: 56px;
    line-height: 56px;
    padding: 0 12px;
}

header h1 {
    margin: 0;
    float: left;
}

header .right {
    display: inline-block;
    float: right;
    padding-right: 40px;
}

header .right a {
    color: #CCC;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 1.1em;
}

header .right a:hover {
    color: #333;
    background-color: #CCC;
}

#lists-container {
    width: 300px;
    border-right: thin solid gray;
    background-color: #F7F7F7;
    height: 100%;
    padding-top: 56px;
    float: left;
    overflow: auto;
}

#lists-container:hover {
    border-right-color: #333;
}

#lists-container .task-lists {
    list-style: none;
    padding: 0;
}

#lists-container .task-lists .del-btn {
    display: none;
}

#lists-container .task-lists li.selected a {
    background-color: #333;
    color: white;
}

#lists-container .task-lists li.selected a .del-btn {
    display: inline-block;
    color: orange;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

#lists-container .task-lists a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #333;
}

#lists-container .task-lists a:hover {
    background-color: #333;
    color: white;
}

#right-panel {
    margin-left: 300px;
    padding-top: 56px;
    overflow: auto;
}

#right-panel .task-item {
    padding: 6px 12px;
    overflow: auto;
}

#right-panel .task-item.editing {
    background-color: #EEE;
}

#right-panel .task-item input {
    margin-right: 6px;
    -webkit-transform: scale(1.2);
    float: left;
}

#right-panel .task-item .title {
    float: left;
    margin-left: 12px;
    min-width: 85%;
}

#right-panel .task-item .title:focus {
    outline: none;
}

#right-panel #new-task-form {
    clear: both;
    margin-top: 12px;
}
